<!doctype html>
<html>
    <head>
        #parse("resources/head.vm")
        <title>Receita - Meu Menu</title>
    </head>

    <body>
        #parse("resources/navbar.vm")
        <div style="margin-top:20px;">
        <h3>Receita: $receita.titulo</h3>
            <div class="card">
                <div class="card-body">
                    <p><h3>$receita.texto</h3></p>
                    <a href="/meumenu/receitas/"
                                class="btn btn-info"
                                style="float:right;">Voltar
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>